openapi: '3.0.3'

info:
  title: Testbank API
  version: '2023.7'

  contact:
    name: Testbank
    url: https://www.testbank.dev

  license:
    name: MIT
    url: https://github.com/jdrydn/testbank/blob/main/LICENSE.md

servers:
  - description: Testbank API
    url: https://api.testbank.dev

components:

  securitySchemes:
    AuthToken:
      type: http
      scheme: bearer

  headers:
    Etag:
      description: Calculated hash of the response body
      schema:
        type: string
        description: Quoted MD5 string
        format: md5
        example: '"36c2723e9db88e9024393f96542924cf"'
    LastModified:
      description: Date when this resource was Last-Modified
      schema:
        type: string
        format: date-time-gmt-string
        example: Tue, 03 May 2022 10:00:00 GMT
    XRateLimitLimit:
      description: Total number of requests in this window.
      schema:
        type: integer
        example: 10
    XRateLimitRemaining:
      description: Number of requests remaining in this window.
      schema:
        type: integer
        example: 9
    XRateLimitUsed:
      description: Number of requests used in this window.
      schema:
        type: integer
        example: 1
    XRateLimitReset:
      description: The absolute time at which the current window resets in [UTC epoch seconds](https://en.wikipedia.org/wiki/Unix_time).
      schema:
        type: integer
        example: 1672531200

  parameters:
    UserAgentHeader:
      in: header
      name: User-Agent
      description: A relevant `User-Agent` for your request handler.
      required: true
      schema:
        type: string
        example: '@example/example@1.0.0 <support@example.com> (https://example.com)'
    IfNoneMatchHeader:
      in: header
      name: If-None-Match
      description: >
        `Etag` header from a previous response to this endpoint.
        If the calculated Etag hash of the current response body matches this value, then the API will return an empty
        `304 Not Modified` instead of the typical `200 OK`.
      schema:
        $ref: '#/components/headers/Etag/schema'
    IfModifiedSinceHeader:
      in: header
      name: If-Modified-Since
      description: >
        `Last-Modified` header from a previous response to this endpoint.
        If the Last Modified date of the current response body matches this value, then the API will return an empty
        `304 Not Modified` instead of the typical `200 OK`.
      schema:
        $ref: '#/components/headers/LastModified/schema'
    JsonApiPageCountQuery:
      in: query
      name: page[page]
      description: Set the page number of resources to return.
      schema:
        type: integer
        default: 1
        minimum: 0
    JsonApiPageLimitQuery:
      in: query
      name: page[limit]
      description: Set the maximum number of resources to return.
      schema:
        type: integer
        default: 20
        minimum: 0
        maximum: 100
    AccountIdPath:
      in: path
      name: accountId
      description: Account ID
      required: true
      schema:
        type: string
        example: a1b2c3d4e5
    TransactionIdPath:
      in: path
      name: transactionId
      description: Transaction ID
      required: true
      schema:
        type: string
        example: c3d4e5f6h7

  responses:
    ErrDefault:
      description: An error occurred
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                description: An array of errors
                minLength: 1
                items:
                  $ref: '#/components/schemas/JsonApiResourceError'
            required:
              - errors
            example:
              errors:
                - title: An error occurred
                  detail: An error occurred processing your request.
                  status: 500

    ErrNotAuthenticated:
      description: The request is not authenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiResourceError'
            required:
              - errors
            example:
              errors:
                - title: Not authenticated
                  detail: You are not authenticated to perform this action.
                  code: NOT_AUTHENTICATED
                  status: 401

    ErrForbidden:
      description: The request is authenticated but not authorised to perform this action.
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiResourceError'
            required:
              - errors
            example:
              errors:
                - title: Not authorized
                  detail: You are not authorized to perform this action.
                  code: NOT_AUTHORIZED
                  status: 403

    ErrNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiResourceError'
            required:
              - errors
            example:
              errors:
                - title: Resource not found
                  detail: Resource not found.
                  code: RESOURCE_NOT_FOUND
                  status: 404

    ErrDeleteConfirmLastModified:
      description: Please confirm deletion using `Last-Modified`
      headers:
        Last-Modified:
          $ref: "#/components/headers/LastModified"
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/JsonApiResourceError'
            required:
              - errors
            example:
              errors:
                - title: Confirmation required
                  detail: Please confirm you would like to delete this resource.
                  code: DELETE_CONFIRM_LAST_MODIFIED
                  status: 412

  schemas:

    JsonApiResourceMeta:
      type: object
      description: A JSON:API-formatted object detailing meta information.
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: boolean

    JsonApiResourceLinks:
      type: object
      description: >
        A JSON:API-formatted object detailing further links. These links could be further API queries, or links to
        relevant external sites/pages that are relevant to the resource.
      additionalProperties:
        oneOf:
          - type: string
            format: uri
            example: https://testbank.dev/#link-to-somewhere
          - type: object
            properties:
              href:
                type: string
                format: uri
                example: https://testbank.dev/#link-to-somewhere
              title:
                type: string
              type:
                type: string
              meta: # Odd, $ref struggles here
                type: object
                description: A JSON:API-formatted object detailing meta information.
                additionalProperties:
                  oneOf:
                    - type: string
                    - type: number
                    - type: boolean
            required:
              - href

    JsonApiResourceError:
      type: object
      description: A JSON:API-formatted error object
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        status:
          type: string
          format: http-status-code
          description: The HTTP status code applicable to this problem, expressed as a string value.
        code:
          type: string
          description: An application-specific error code.
        links:
          $ref: '#/components/schemas/JsonApiResourceLinks'
        meta:
          $ref: '#/components/schemas/JsonApiResourceMeta'
        source:
          type: object
          description: An object containing references to the primary source of the error.
          properties:
            pointer:
              type: string
              description: A pointer/reference to the value in the request query/body that caused the error.
            parameter:
              type: string
              description: A string indicating which request  query parameter caused the error.
            header:
              type: string
              description: A string indicating which request header caused the error.
      required:
        - detail

    JsonApiPrimaryDataPaginationLinks:
      type: object
      description: A JSON:API-formatted object detailing further links, including pagination.
      properties:
        prev:
          type: string
          format: uri
          description: An absolute URL to the previous page of results, `null` if there is no previous page.
          example: /resource?page[count]=2&page[limit]=100
        next:
          type: string
          format: uri
          description: An absolute URL to the next page of results, `null` if there is no next page.
          example: /resource?page[count]=4&page[limit]=100
        first:
          type: string
          format: uri
          description: An absolute URL to the first page of results, `null` if there is only 1 page.
          example: /resource?page[count]=1&page[limit]=100
        last:
          type: string
          format: uri
          description: An absolute URL to the last page of results, `null` if there is only 1 page.
          example: /resource?page[count]=10&page[limit]=100
      required:
        - prev
        - next
        - first
        - last

    Currency:
      type: object
      title: CurrencyResource
      properties:
        type:
          type: string
          enum: [currencies]
        id:
          type: string
          format: money-currency
          example: USD
        attributes:
          type: object
          properties:
            name:
              type: string
              example: United States Dollar
            symbol:
              type: string
              format: money-symbol
              example: $
            emoji:
              type: string
              format: emoji
              example: 🇺🇸
          required:
            - name
            - symbol
        meta:
          type: object
          properties:
            exchangeRate:
              type: number
              example: 1
          required:
            - exchangeRate
      required:
        - type
        - id
        - attributes
        - meta

    Account:
      type: object
      title: AccountResource
      properties:
        type:
          type: string
          enum: [accounts]
          default: accounts
        id:
          type: string
          example: a1b2c3d4e5
        attributes:
          type: object
          properties:
            name:
              type: string
              example: My Account
            visibility:
              type: string
              enum: [PUBLIC, UNLISTED, PRIVATE]
              default: UNLISTED
              example: PUBLIC
          required:
            - name
            - currencyCode
        relationships:
          type: object
          properties:
            currency:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Currency/properties/type'
                    id:
                      type: string
                      format: money-currency
                      example: USD
                  required:
                    - type
                    - id
              required:
                - data
          required:
            - currency
        meta:
          type: object
          properties:
            externalId:
              type: string
              example: cb8ff63f-cb92-4328-b3c7-b54e2b6dbc5f
            balanceTotal:
              type: string
              example: '100.00'
            createdAt:
              type: string
              format: date-time
              example: '2023-07-12T19:00:00.000Z'
            updatedAt:
              type: string
              format: date-time
              example: '2023-07-12T19:00:00.000Z'
          required:
            - balanceTotal
            - createdAt
            - updatedAt
      required:
        - type
        - id
        - attributes
        - meta

    Transaction:
      type: object
      title: TransactionResource
      properties:
        type:
          type: string
          enum: [transactions]
          default: transactions
        id:
          type: string
          example: c3d4e5f6g7
        attributes:
          type: object
          properties:
            amount:
              type: string
              format: money-value
              example: '100.00'
            reference:
              type: string
          required:
            - amount
            - reference
        relationships:
          type: object
          properties:
            sender:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Account/properties/type'
                    id:
                      type: string
                      example: a1b2c3d4e5
                  required:
                    - type
                    - id
              required:
                - data
            recipient:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Account/properties/type'
                    id:
                      type: string
                      example: a1b2c3d4e5
                  required:
                    - type
                    - id
              required:
                - data
          required:
            - sender
            - recipient
        meta:
          type: object
          properties:
            exchangeRate:
              type: number
              example: 1
              minimum: 0
            createdAt:
              type: string
              format: date-time
              example: '2023-07-12T19:00:00.000Z'
          required:
            - createdAt
      required:
        - type
        - id
        - attributes
        - meta

security:
  - AuthToken: []

tags:
  - name: Introduction
  # - name: Tenants
  - name: Accounts
  - name: Transactions

paths:

  /:
    get:
      operationId: ping
      summary: Check Authentication
      description: >
        A simple endpoint to check if the API is operational, and optionally can be used to check if your
        authentication token is valid.
      security: []
      tags: [Introduction]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      name:
                        type: string
                        description: '"Testbank API"'
                        example:
                          $ref: '#/info/title'
                      version:
                        type: string
                        description: The current API version, in the format `{year}.{month}(.{patch})?`
                        example:
                          $ref: '#/info/version'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.testbank.dev/
                      github:
                        type: string
                        example: https://github.com/testbankhq
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        500:
          $ref: '#/components/responses/ErrDefault'

  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: >
        List all accounts.
      tags: [Accounts]
      parameters:
        - in: query
          name: filter[name]
          description: Filter all accounts where the name contains a specific substring.
          schema:
            $ref: "#/components/schemas/Account/properties/attributes/properties/name"
        - in: query
          name: filter[visibility]
          description: Filter all accounts where the currency matches a specific Currency Code.
          schema:
            $ref: "#/components/schemas/Account/properties/attributes/properties/visibility"
        - in: query
          name: filter[currency]
          description: Filter all accounts where the currency matches a specific Currency Code.
          schema:
            type: string
            $ref: "#/components/schemas/Currency/properties/id"
        - in: query
          name: filter[externalId]
          description: Filter all accounts where the externalId matches a specific string.
          schema:
            $ref: "#/components/schemas/Account/properties/meta/properties/externalId"
        - $ref: '#/components/parameters/JsonApiPageCountQuery'
        - $ref: '#/components/parameters/JsonApiPageLimitQuery'
      responses:
        200:
          description: List of Accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  meta:
                    $ref: '#/components/schemas/JsonApiPrimaryDataPaginationLinks'
                required:
                  - data
                  - meta
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        500:
          $ref: '#/components/responses/ErrDefault'
    post:
      summary: Create account
      operationId: createAccount
      description: >
        Create a new account, with a name, visibility & currency.<br/>
        Optionally include an external ID so you can tie this account with a resource from your side.<br/>
        Optionally include an initial transaction to set the opening balance.
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Account/properties/type'
                    attributes:
                      $ref: '#/components/schemas/Account/properties/attributes'
                    relationships:
                      type: object
                      properties:
                        currency:
                          $ref: '#/components/schemas/Account/properties/relationships/properties/currency'
                        initialBalance:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                type:
                                  $ref: '#/components/schemas/Transaction/properties/type'
                                attributes:
                                  $ref: '#/components/schemas/Transaction/properties/attributes'
                              required:
                                - type
                                - attributes
                          required:
                            - data
                      required:
                        - currency
                    meta:
                      type: object
                      properties:
                        externalId:
                          $ref: '#/components/schemas/Account/properties/meta/properties/externalId'
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        200:
          description: Created account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        $ref: '#/components/schemas/Account/properties/type'
                      id:
                        $ref: '#/components/schemas/Account/properties/id'
                      attributes:
                        $ref: '#/components/schemas/Account/properties/attributes'
                      relationships:
                        type: object
                        properties:
                          currency:
                            $ref: '#/components/schemas/Account/properties/relationships/properties/currency'
                          initialTransaction:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    $ref: '#/components/schemas/Transaction/properties/type'
                                  id:
                                    $ref: '#/components/schemas/Transaction/properties/id'
                                required:
                                  - type
                                  - id
                            required:
                              - data
                        required:
                          - currency
                      meta:
                        $ref: '#/components/schemas/Account/properties/meta'
                    required:
                      - type
                      - id
                      - attributes
                      - meta
                required:
                  - data
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        500:
          $ref: '#/components/responses/ErrDefault'

  /accounts/{accountId}:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
    get:
      operationId: getAccount
      summary: Get account by ID
      description: >
        Get a specific account by ID.
      tags: [Accounts]
      responses:
        200:
          description: Found account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
                required:
                  - data
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        500:
          $ref: '#/components/responses/ErrDefault'
    patch:
      operationId: updateAccount
      summary: Update account
      description: >
        Update an account's name, visibility & external ID.<br/>
        You <strong>cannot change</strong> an account's currency once opened.
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Account/properties/type'
                    attributes:
                      $ref: '#/components/schemas/Account/properties/attributes'
                    meta:
                      type: object
                      properties:
                        externalId:
                          $ref: '#/components/schemas/Account/properties/meta/properties/externalId'
                  required:
                    - type
                    - attributes
              required:
                - data
      responses:
        200:
          description: Updated account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
                required:
                  - data
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        500:
          $ref: '#/components/responses/ErrDefault'
    delete:
      operationId: deleteAccount
      summary: Delete account
      description: >
        Delete an account & all data related to the account.<br/>
        <strong>Please note:</strong> This may not delete all account & transaction data - other accounts' transactions
        will retain the account ID. All other attributes will cleared.
      tags: [Accounts]
      parameters:
        - in: header
          name: If-Unmodified-Since
          description: >
            A `Last-Modified` header from a previous response to this endpoint.
            If the Last Modified date of the resource matches this value, then the resource will be successfully
            deleted.
          schema:
            $ref: '#/components/headers/LastModified/schema'
      responses:
        204:
          description: Confirmation the account is deleted.
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        412:
          $ref: '#/components/responses/ErrDeleteConfirmLastModified'
        500:
          $ref: '#/components/responses/ErrDefault'

  /transactions:
    get:
      summary: List transactions
      operationId: listTransactions
      tags: [Transactions]
      parameters:
        - in: query
          name: filter[account]
          description: Filter all transactions where either the sender or recipient is a specific account ID.
          schema:
            type: string
            example: a1b2c3d4e5
        - in: query
          name: filter[sender]
          description: Filter all transactions where the sender is a specific account ID.
          schema:
            type: string
            example: a1b2c3d4e5
        - in: query
          name: filter[recipient]
          description: Filter all transactions where the recipient is a specific account ID.
          schema:
            type: string
            example: a1b2c3d4e5
        - in: query
          name: filter[reference]
          description: Filter all transactions where the reference contains a specific substring.
          schema:
            type: string
            example: hello-world
        - $ref: '#/components/parameters/JsonApiPageCountQuery'
        - $ref: '#/components/parameters/JsonApiPageLimitQuery'
      responses:
        200:
          description: List of Transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  meta:
                    $ref: '#/components/schemas/JsonApiPrimaryDataPaginationLinks'
                required:
                  - data
                  - meta
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        500:
          $ref: '#/components/responses/ErrDefault'
    post:
      summary: Create transaction
      operationId: createTransaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/Transaction/properties/type'
                    attributes:
                      $ref: '#/components/schemas/Transaction/properties/attributes'
                    relationships:
                      $ref: '#/components/schemas/Transaction/properties/relationships'
                  required:
                    - type
                    - id
                    - attributes
              required:
                - data
      responses:
        200:
          description: Created transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
                required:
                  - data
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        500:
          $ref: '#/components/responses/ErrDefault'

  /transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/TransactionIdPath'
    get:
      summary: Get transaction by ID
      operationId: getTransaction
      tags: [Transactions]
      responses:
        200:
          description: Found transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
                required:
                  - data
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        500:
          $ref: '#/components/responses/ErrDefault'
    delete:
      operationId: deleteTransaction
      summary: Delete transaction
      description: >
        (Admin-only) Delete a transaction, effectively reversing the transaction & fixing the balance of the two
        accounts.
      tags: [Transactions]
      parameters:
        - in: header
          name: If-Unmodified-Since
          description: >
            A `Last-Modified` header from a previous response to this endpoint.
            If the Last Modified date of the resource matches this value, then the resource will be successfully
            deleted.
          schema:
            $ref: '#/components/headers/LastModified/schema'
      responses:
        204:
          description: Confirmation the transaction is deleted.
        401:
          $ref: '#/components/responses/ErrNotAuthenticated'
        403:
          $ref: '#/components/responses/ErrForbidden'
        404:
          $ref: '#/components/responses/ErrNotFound'
        412:
          $ref: '#/components/responses/ErrDeleteConfirmLastModified'
        500:
          $ref: '#/components/responses/ErrDefault'

  /currencies:
    get:
      operationId: getCurrencies
      summary: Get Currencies
      description: >
        Fetch a list of supported currencies.
      security: []
      tags: [Introduction]
      responses:
        200:
          description: List of supported currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Currency"
        500:
          $ref: '#/components/responses/ErrDefault'
